<footer class="container pt-4">
    <hr />
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3">
        <img class="mb-2" src="https://avatars3.githubusercontent.com/u/9802110?s=32&u=60224a36cac8bbffad218fe0f4ec0436814bdd64&v=4" alt="Profile picture" width="32" height="32" style="border-radius: 6px;">
        <small class="d-block mb-3 text-muted">© 2018</small>
      </div>
      <div class="col-6 col-md-3">
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="{{ site.baseurl }}/">Home</a></li>
          <li><a class="text-muted" href="{{ site.baseurl }}/about">About</a></li>
          <li><a class="text-muted" href="{{ site.baseurl }}/blog">Blog</a></li>
          <li><a class="text-muted" href="{{ site.baseurl }}/contact">Contact</a></li>
          <li><a class="text-muted" href="{{ site.baseurl }}/projects">Project</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{{ site.baseurl }}/feed.xml">RSS Feed</a></li>
            <li><a class="text-muted" href="{{ site.baseurl }}/cookie-policy">Cookie Policy</a></li>
            <li><a class="text-muted" href="{{ site.baseurl }}/privacy">Privacy</a></li>
            <li><a class="text-muted" href="{{ site.baseurl }}/terms">Terms &amp; Conditions</a></li>
          </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-3">
        <p class="text-muted">
            <span>Hi, I'm Thomas.<br />I design and build user interfaces.</span>
        </p>
        <small class="d-block mb-3 text-muted">living in Copenhagen, and working on some really great projects!</small>
      </div>
    </div>
  </footer>