<nav class="container navbar navbar-expand-md navbar-light"><!-- border-bottom -->
    <a class="navbar-brand" href="{{ site.baseurl }}/">THKO</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/articles">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/projects">Projects</a>
        </li>

      </ul>
    </div>
  </nav>