---
layout: default
---
<div class="container pt-4">
  <article class="page projects">
    <h1>{{ page.title }}</h1>
    <div class="entry">
      {{ content }}

      <div class="projects-list">
        {% for project in site.projects %}
        <div href="{{ project.url }}" class="project-item border-bottom">
          <div class="row">
            <div class="col-sm-6 col-md-5">
              <img class="thumbnail" src="{{ project.thumbnail }}" />
            </div>
            <div class="col-sm-6 col-md-7">
              <h2>{{ project.title }}</h2>
              <p>{{ project.content }}</p>
              <p>
                <small>
                  {% for tag in project.tags %}
                  {% capture tag_name %}{{ tag }}{% endcapture %}
                  <a href="/tag/{{ tag_name }}" class="badge badge-light">
                    {{ tag_name }}
                  </a>
                  {% endfor %}
                </small>
              </p>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>

    </div>
  </article>
</div>
